<div class="col-12">
    <div class="col-12 con-mix over-rd">
   <div class="col-6 text-center " >
     <img src="images/pie-chart.png">
   </div>
   <div class="col-6">

            <ul class="range-percentage">
                <li>
                    <span> CF Wood Word Equality Income </span>
                    <div class="range gr per-100">
                    </div>
                </li>
                <li>
                    <span> CF Wood Word Equality Income </span>
                    <div class="range or per-80">
                    </div>
                </li>
                <li>
                    <span> CF Wood Word Equality Income </span>
                    <div class="range yl per-60 ">
                    </div>
                </li>
                <li>
                    <span> CF Wood Word Equality Income </span>
                    <div class="range rd per-30">
                    </div>
                </li>
            </ul>
    
   </div>
</div>
   <div class="col-12">
        <div class="title-part col-4 con-mix c-icon1 ">
                <span class=""> Most popular Funds</span>
            </div>

            <div class="title-part col-4  con-mix c-icon2 ">
                <span class=""> Most popular Funds</span>
            </div>

            <div class="title-part col-4 con-mix c-icon3 ">
                <span class=""> Most popular Funds</span>
            </div>
            <div class="col-4 con-mix c-icon4 ">
                <button ng-click="page()" class="btn mar-mp9 secondry-btn pull-right"> See More </button>
            </div>

            
   </div>
</div>