<header>
    <div class="col-12 header-part">
        <div class="container">

            <div class="col-6">
                <a href="#"> <img ng-src="images/logo.png" alt="" > </a>
            </div>


            <div class="col-6 ">
                <div class="pull-right">
                    <div class="search-section">
                        <input type="text" name="" id="">
                        <button class="btn primary-btn"> Intelligent search </button>
                        <button class="btn filter-btn"> Filter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
<div myfonds> </div>

</header>