<div class="pad-l35 ">
        <div class="col-12 t-link">
                <button class="btn secondry-btn pull-right"> Configure Your Widgets </button>
        </div>
  <div class="title-part con-mix m-pupolar clearfix">
        <h3 class=""> Most popular Funds</h3>
    </div>

    <div class="con-mix">
            <ul class="range-percentage">
                <li>
                    <span> CF Wood Word Equality Income </span>
                    <div class="range gr per-100">
                    </div>
                </li>
                <li>
                    <span> CF Wood Word Equality Income </span>
                    <div class="range or per-80">
                    </div>
                </li>
                <li>
                    <span> CF Wood Word Equality Income </span>
                    <div class="range yl per-60 ">
                    </div>
                </li>
                <li>
                    <span> CF Wood Word Equality Income </span>
                    <div class="range rd per-30">
                    </div>
                </li>
            </ul>
    
        </div>

</div>