
<div class="col-12">
    

</div>
<section class="margin-T60 col-12">
<div class="col-8">
    <ul class="tab-container" ng-init="tab=1">
        <li ng-class="{active:tab === 1}">
            <a href ng-click="tab=1"> 
              Price overview
            </a>
        </li>

        <li ng-class="{active:tab===2}">
            <a href ng-click="tab=2"> 
                Fund information
            </a>
        </li>

        <li ng-class="{active:tab===3}">
            <a href ng-click="tab=3"> 
                Performance
            </a>
        </li>

        <li ng-class="{active:tab===4}">
            <a href ng-click="tab=4"> 
                Rating
            </a>
        </li>
        <li ng-class="{active:tab===5}">
            <a href ng-click="tab=5"> 
                Documents
            </a>
        </li>

    </ul>

    <div ng-show="tab===1"> 
    <div priceoverview> </div>    
    </div>
    <div ng-show="tab===2">
        <div fundinformation> </div>  
    </div>
    <div ng-show="tab===3"> <h1> Tab 3 </h1> </div>
    <div ng-show="tab===4"><h1> Tab 4 </h1> </div>
    <div ng-show="tab===5"><h1> Tab 5 </h1> </div>
</div>

<div class="col-4">
    <div mostpopular> </div>
    <div performing > </div>
</div>

</section>